<<<<<<< HEAD
﻿body {background-color: cyan; font-family: verdana, arial, sans-serif; font-size: 14pt; margin: auto; text-align : justify; color: green;}
=======
﻿body {background-color: cyan; font-family: verdana, arial, sans-serif; font-size: 14pt; text-align : justify; color: green;}
>>>>>>> c7e9a6205aa08c145ee64e4fb9884d90abfc6e3b
main h1 {font-size: 20pt; font-weight: bold; color: #0066CC;}